<html>
<!-- <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  .left-align {
    text-align: left;
  }

  .center-align {
    text-align: center;
  }

  h1 {
    font-family: Lobster, Monospace;
    margin-left: 200px;
  }

  h2 {
    font-family: Lobster, monospace;
    font-size: 40px;
  }
  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .smaller-image {
    width: 100px;
  }

  body  {
    margin: 0;
    background: lightblue url("img_tree.gif") no-repeat fixed center;
  }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
</style> -->

<head>
  <title>About Us</title>
</head>
<body>
<ul class="topnav">
  <li><a class="active" href="about">About Us</a></li>
  <li><a href="our-services">Our Services</a></li>
  <li><a href="contact">Contact</a></li>
  <li><h1 class="red-text h1">Tax Pro Book Keepping</h1></li>
</ul>

<br>
<h2 class="red-text center-align">About Us</h2>
<br>
<p>
  Want to maximize your tax return? Overwhelmed with keeping track of your financials? Feeling stressed?
  <br>
  <br>
  Let us take the burden off your shoulder;
  we will make life easier and manageable for you.
  We take pride in delivering value to our clients and providing professional expertise in need of accounting,
  tax services and financial consultation, allowing my clients to continue to grow and help them excel.
</p>
</body>
{{outlet}}
</html>
