<head>
  <title>Contact Us</title>
</head>

<body>
  <ul class="topnav">
    <li><a href="about">About Us</a></li>
    <li><a href="our-services">Our Services</a></li>
    <li><a class="active" href="contact">Contact</a></li>
    <li>
      <h1 class="red-text h1">Tax Pro Book Keepping</h1>
    </li>
  </ul>

  <br>
  <h2 class="red-text center-align">Contact Us</h2>
  <br>
  <p class="right-align justify-align">
    We Are Here To Help!
  </p>
  <p class="right-align justify-align">
    Tax Pro Book Keeping
    <address class="right-align justify-align">
      14 Overture Lane<br>
      Brampton, ON
    </address>
    <a href="tel:503.555.1212">+1 (647) 404-4324</a><br>
    <a href="shabbir_ali_99@yahoo.com">shabbir_ali_99@yahoo.com</a>
    <div class="detail location">
      <span>Location:</span> {{this.contact.us}}
    </div>
    <LocationMap @location={{this.contact.us}} />
  </p>
</body>
