<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>Tax Pro Book Keeping</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "about"}}
        About Us
      {{/link-to}}
      {{#link-to "contact"}}
        Contact Us
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
