<head>
  <title>Contact Us</title>
</head>

<body>
  <ul class="topnav">
    <li><a href="about">About Us</a></li>
    <li><a class="active" href="our-services">Our Services</a></li>
    <li><a href="contact">Contact</a></li>
    <li>
      <h1 class="red-text h1">Tax Pro Book Keepping</h1>
    </li>
  </ul>

  <br>
  <h2 class="red-text center-align">What We Offer</h2>
  <br>
  <p class="table-ourservices bold">
      Accounting and Book Keeping
  </p>
  <div class="justify-align">
      <li>We offer a full range of accounting services:</li>
      <li>General Bookkeeping.</li>
      <li>Accounting Solutions and Services.</li>
      <li>Corporate and Payroll Registration.</li>
      <li>Estate and Trust Tax.</li>
      <li>HST compliance and filings.</li>
      <li>Corporate Forecasts.</li>
      <li>Cash flow and Financial Management.</li>
      <li>Business Start-up Preparation and Advice.</li>
      <li>Coast to Coast Accounting/ Tax Services.</li>
      <li>Payroll preparation and accounting.</li>
  </div>
  <div class="center-align">
    <li>Personal and Corporate  Tax:</li>

<li>We specialize in almost all categories of Tax Returns and assist our clients worldwide with their tax preparation needs.</li>
​
<li>We also offer Tax Planning for Investment Assets.</li>
</div>
  <!-- <span class="text-content element-text-container vertically-top dir-ltr" style="overflow-wrap: break-word; text-align: left;
    line-height: 1.3; letter-spacing: 0px; font-size: 14px;">
    <p class="bold">We offer a full range of accounting services:</p>•&nbsp;General Bookkeeping<br>•&nbsp;
    Accounting Solutions and Services<br>•&nbsp;Corporate and Payroll Registration&nbsp;<br>•&nbsp;
    Estate and Trust Tax<br>•&nbsp;HST compliance and filings<br>•&nbsp;Corporate Forecasts<br>•&nbsp;
    Cash flow and Financial Management<br>•&nbsp;Business Start-up Preparation and Advice<br>•&nbsp;
    Coast to Coast Accounting/ Tax Services&nbsp;<br>•&nbsp;Payroll preparation and accounting.</span> -->


</body>
